# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml

# Ignore build outputs
target/

# Ignore sensitive configs
BlogManagementSystem/src/main/resources/application.properties